<html>
<head>
    <title>Server Error</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Server Error</h1>
<div id="500-error-page">
    <p><%= error %></p>
    <a href="/">Tap here to return home</a>
</div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrety="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="></script>
</html>