<html>
<head>
    <title>Nominal Roll Editor</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Add/Remove Military Units</h1>
<div class="military-unit-form">
    <form id="main-form" action="" method="post">
        <div class="error"><%= error %></div>
        <div id="existing_units">
            <label>Select Existing Unit(s)</label>
            <small class="form-help">If using mouse/keyboard, hold ctrl & left-click to select multiple.</small>
            <select multiple id="soldier_units_select" name="soldier_units[]">
               <%- unitOptions %>
            </select>
        </div>
        <div id="military_units_add">
            <div class="error"></div>
            <label>Create New Unit(s)</label>
            <small class="form-help">Append years by + and seperate muliple entries by commas</small>
            <input type="text" name="military_units" placeholder="E.g. 1942+ Example 1, 1943+ Example 2" id="military_units" value=""/>
        </div>
        <input type="submit" name="submit" value="Add Unit(s)"/>
        <input type="submit" name="submit" value="Remove Selected Unit(s)"/>
        <input type="button" value="Cancel" onclick="location.href='/nominal-roll';"/>
    </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrety="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="></script>
</html>
